body{
    background-color: black;
}
#bgimg{
/*
    background: url("/img/Academic%20Dress%202.jpg") no-repeat center center 
        fixed;
*/
    
    
}
#gre{
    font-size: 60px;
    color: burlywood;
    margin-left: 230px;
    margin-top: 70px;
}
#qua{
    color: burlywood;
    margin-left: 390px;
}
#gr{
    color: white;
    font-size: 30px;
}
#call{
    color: burlywood;
}
#pr{
    margin-top: 40px;
}
#stu{
    color: blue;
}
#try{
    display: block;
}
#box{
    background-color: burlywood;
    padding: 0 4em;
}
#boc{
    margin-left: 5px;
    margin-right: 5px;
    background: burlywood;
}
#int{
    margin-top: 100px;
    font-size: 30px;
}
#sh{
    background: white;
    margin-left: 5px;
    margin-right: 5px;
}
.fa{
    font-size: 70px;
    width: 30px;
    border-radius: 50%;
}
#fu{
    margin-left: 5px;
    margin-right: 5px;
}
/*
#two{
    grid-row: 2/5;
}
*/
/*
#rec{
    width: 70%;
    height: 40%;
    border-color: orange;
    
}*/
