.row{
    background-image: url(/img/people-at-school-student-raising-hand-and-asking-question-to-professor-during-class-in-college-law-school-university-of-havana-cuba_ejfmqgrg__F0002.png)no-repeat center center 
        fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}